
.btn{
    position: fixed;
    right: 20px;
    bottom: 100px;
    border-radius: 50%;
}

.scroll-btn{
    background-color: white;
    border:none;
    outline: none;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.scroll-btn:hover,.btn:hover{
    background-color: #40019a;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 15px white;
    cursor: pointer;
    color: white;
}