* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(7, 1, 41);
    /* background-color: linear-gradient(to left, rgb(10, 0, 73), rgb(0, 0, 0)); */
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.body::-webkit-scrollbar {
    display: none;
}

/* NAVBAR STYLING */

.navbar_background {
    background-image: linear-gradient(to left, rgb(10, 0, 73), rgb(0, 0, 0));
}

#bg-ast {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* HERO SECTION */

.container {
    width: 100%;
    position: relative;
    top: 40px;
    padding: 10px;
    text-align: center;
}

/* Inputs */

.input-field {
    padding: 20px 0px;
}

#input-heading {
    font-weight: bold;
    font-size: 3rem;
    background: -webkit-linear-gradient(top, rgb(228, 214, 251), rgb(132, 0, 255)) text;
    -webkit-text-fill-color: transparent;
}

.date-input-fields-div {
    margin: 8px 0px;
}

.date-input-fields-div>label {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 600;
    font-size: 1rem;
}

.date-inputs {
    padding: 4px 8px;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: #e4d6fb;
    transition: 0.1s ease-in-out;
}

.date-inputs:hover {
    box-shadow: 2px 2px 1px 1px rgb(187, 18, 187);
    cursor: pointer;
}

#dates-submit-btn {
    padding: 6px 12px;
    outline: none;
    border: none;
    background-color: #0d6efd;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
    margin: 10px 0px;
}

#dates-submit-btn:hover {
    background-color: #0b5ed7;
}

.note {
    margin: 0px auto;
    padding: 4px;
    width: fit-content;
    display: flex;
}

#exclmation-icon {
    margin: 0px 4px;
}
.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    background: linear-gradient(
      to right bottom,
      rgb(11, 11, 42),
      rgb(21, 21, 21),
      rgb(17, 17, 41)
    );
    margin: 100px auto;
    max-width: 80%;
    border-radius: 10px;
  }
  
  .faq h2 {
    margin-top: 50px;
    font-weight: -500;
    font-size: 40px;
    color: #c2c5c7;
  }
  
  .accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
  }
  
  .accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
  }
  
  .accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
  }
  
  label::after {
    content: "+";
    font-size: 34px;
    position: absolute;
    /* right: 20px; */
    right: 130px;
    transition: transform 0.5s;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .accordion .content {
    background-color: #303030;
    color: white;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }
  
  .accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
  }
  
  .accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
  }