* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to left, rgb(10, 0, 73), rgb(0, 0, 0));
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

.body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR STYLING */

.navbar_background{
  background-image: linear-gradient(to left, rgb(10, 0, 73) , rgb(0, 0, 0));
}

/* Increase gap between nav items */
.nav-item {
  margin-right: 10px; /* Adjust as needed */
}

/* Redesign nav-link */
.nav-link {
  padding: 10px 15px;
  border-radius: 20px; 
  transition: all ease-in .5s;
}

/* Redesign nav-link on hover */
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.contact-btn:hover{
        color: #9000ff;
}
/* HERO SECTION STYLING */

.highlight {
  background: -webkit-linear-gradient(#e4d6fb, #8400ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.auto-typed {
  background: -webkit-linear-gradient(#e4d6fb, #8400ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_title {
  background: -webkit-linear-gradient(#e4d6fb, #8400ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: bold;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.input_container {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  width: 90%;
  height: 52px;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  padding: 20px;
}
.input_container b{
  font-size:20px;
  padding-right: 10px;
}

.date_input {
  width: 700px;
  border-radius: 5px;
  height:40px;
  border-color: transparent;
  text-align: center;
}

.apod_img_container {
  width: 500px;
  height: 500px;
}

.img,.video {
  width: 500px;
  height: 400px;
}

.info {
  width: 500px;
  height: 100px;
  margin-top: 1rem;
}

#apod_img {
  border-radius: 25px;
  transition: transform 0.7s ease-in-out;
}


#apod_img:hover {
  color: rgb(191, 0, 255);

#apod_img:hover,#apod_video:hover {
  color: white;
  box-shadow: 0 5px 15px #9000ff;
  animation: leviate 3s ease infinite;
}

/* Floating Animation */
@keyframes leviate {
  50% {
      transform: translateY(-20px);
  }
}


.hero_img {
  border-radius: 50%;
}

.hero_img:hover {
  color: rgb(191, 0, 255);
  box-shadow: 0 5px 15px #9000ff;
  animation: floating 3s ease infinite;
}

/* Floating Animation */
@keyframes floating {
  50% {
      transform: translateY(-20px);
  }
}


.rover_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.rover_section_text {
  width: 50%;
}

.mars_illus {
  border-radius: 50%;
  margin-right: 30px;
}

.mars_illus:hover {
  color: rgb(191, 0, 255);
  box-shadow: 0 5px 15px #ff0099;
  animation: floating 3s ease infinite;
}

.rover_display {
  height: 70vh;
  width: 100%;
  display: none;
  justify-content: center;
}


.inner_container {
  height: 100%;
  width: 75%;
  border-radius: 10px;
  border: #e4d6fb;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
}

.image_div {
  display:flex;
  width: 500px;
  height: 500px;
  margin-right: 50px;
}

/* added position and style to button */
#close_button{
  position: relative;
  left:80%;
  bottom:45%;
}

#close{
  font-size:20px;
  padding: 0 20px;
  border-radius: 10px;
}

#close:hover{
  background-color:rgb(191, 0, 255);
  color: white;
}

#roverImg {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  transition: transform 0.5s ease-in-out; /* Add transition for smooth animation */
}

.arrow {
  transform: translateY(0%); /* Adjust the buttons vertically to center them */
  background: transparent; /* Remove background */
  border: none; /* Remove border */
  padding: 10px; /* Add padding */
  color: white; /* Set button color */
  font-size: 24px; /* Set button font size */
}

.arrow:hover{
  color: rgb(191, 0, 255);
  font-size: 40px; /* Set button font size */
}

#roverImg:hover {
  color: rgb(191, 0, 255);
  box-shadow: 0 5px 15px #9000ff;
}

.info_div {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
}

.info_container {
  display: flex;
}

/* CONTACT US SECTION STYLING */

.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form .right {
  flex: 1;
  padding-left: 20px;
}

.right .form-control {
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
}

.contact_img {
  border-radius: 50%;
}

.contact_img:hover {
  color: white;
  box-shadow: 0 5px 15px #9000ff;
  animation: floating 3s ease infinite;
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;
  }

  .contact-form .right {
    padding-left: 0;
    margin-top: 10px; /* Adjust as needed */
  }
}

/* Info card in mars section */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

.card {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 230px;
  height: 130px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
}

.info1 {
  margin-right: 30px;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #7952b3;
  height: 220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover::before {
  transition-delay: 0.2s;

  transform: scale(40);
}

.card:hover {
  color: #ffffff;
}

.card p {
  padding: 10px 0;
}
.decorate-text {
  transition: color 0.2s ease; /* transition property for color change */
}

.decorate-text:hover {
  color: rgb(207, 48, 170);
  transition-delay: 0.2s; 
  transform: scale(1.1);
  transition: color 0.2s ease; /* Smooth transition for color change */
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  transition: opacity 3s,visibility 3s;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}
.spinner--hidden{
    opacity: 0;
    visibility: hidden;
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
.l{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  transition: opacity 3s, visibility 3s;
  z-index: 100;
}

.l--hidden {
  opacity: 0;
  visibility: hidden;
}
.navbar{
  z-index: 99;
}


/* Style the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.aboutus {
  border-radius: 50%;
  margin-right: 30px;
}

.aboutus:hover {
  color: rgb(191, 0, 255);
  box-shadow: 0 5px 15px #ff0099;
  animation: leviate 3s ease infinite;
}

