

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

   
}


body{
    background-image: linear-gradient(to left, rgb(10, 0, 73) , rgb(0, 0, 0));
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}


  .body::-webkit-scrollbar {
    display: none;
}


.auto-typed{
  background: -webkit-linear-gradient(#e4d6fb, #8400ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bg{
    position:fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.input_container{
  display: flex;
  width: 100%;
  justify-content: center;

}

.date_input{
  width: 700px;
}


.apod_img_container{
  
  width: 500px;
  height: 500px;
}

.img{
   
   width: 500px;
   height: 400px;
}

.info{
 
   width: 500px;
   height: 100px;

}

#apod_img{
  border-radius: 25px;
}

#apod_img:hover {
  color: white;
  box-shadow: 0 5px 15px #9000ff;
}

.hero_img{
  border-radius: 50%;
}

.hero_img:hover{
  color: rgb(191, 0, 255);
  box-shadow: 0 5px 15px #9000ff;
}


.rover_container{
  width: 100;
  display: flex;
  justify-content: center;

}
.rover_section_text{
  width: 70%;
}


.mars_container{
  width: 100%;
  display: flex;
  justify-content: center;

}




/* CONTACT US SECTION STYLING */

.contact-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-form .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-form .right {
    flex: 1;
    padding-left: 20px;
  }

  .right .form-control {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
  }

  .contact_img{
    border-radius: 50%;
  }

  .contact_img:hover{
    color: white;
  box-shadow: 0 5px 15px #9000ff;
  }

  /* Additional styling for responsiveness */
  @media (max-width: 768px) {
    .contact-form {
      flex-direction: column;
    }

    .contact-form .right {
      padding-left: 0;
      margin-top: 10px; /* Adjust as needed */
    }
  }

