body{
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(38, 2, 148));
    margin: 0;
    padding: 0;
   
}



  
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}