* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left, rgb(10, 0, 73), rgb(0, 0, 0));
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.body::-webkit-scrollbar {
    display: none;
}

/* NAVBAR STYLING */

.navbar_background {
    background-image: linear-gradient(to left, rgb(10, 0, 73), rgb(0, 0, 0));
}

#bg-ast {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* HERO SECTION */

.container {
    width: 100%;
    position: relative;
    top: 40px;
    padding: 10px;
    text-align: center;
}

/* Inputs */

.input-field {
    padding: 20px 0px;
}

#input-heading {
    font-weight: bold;
    font-size: 3rem;
    background: -webkit-linear-gradient(top, rgb(228, 214, 251), rgb(132, 0, 255)) text;
    -webkit-text-fill-color: transparent;
}

.date-input-fields-div {
    margin: 8px 0px;
}

.date-input-fields-div>label {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 600;
    font-size: 1rem;
}

.date-inputs {
    padding: 4px 8px;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: #e4d6fb;
    transition: 0.1s ease-in-out;
}

.date-inputs:hover {
    box-shadow: 2px 2px 1px 1px rgb(187, 18, 187);
    cursor: pointer;
}

#dates-submit-btn {
    padding: 6px 12px;
    outline: none;
    border: none;
    background-color: #0d6efd;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
    margin: 10px 0px;
}

#dates-submit-btn:hover {
    background-color: #0b5ed7;
}

.note {
    margin: 0px auto;
    padding: 4px;
    width: fit-content;
    display: flex;
}

#exclmation-icon {
    margin: 0px 4px;
}

/* Asteroid info */

.asteroid-info {
    border: 2px solid #e4d6fb;
    border-radius: 8px;
    padding: 20px 60px;
    width: 50%;
    margin: 0px auto;
    display: none;
}

.asteroid-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.asteroid-info-card {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    width: 100%;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    z-index: 0;
    overflow: hidden;
    transition: 0.4s ease-in;
    position: relative;
}

.asteroid-info-card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #7952b3;
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.asteroid-info-card:hover::before {
    transition-delay: 0.2s;
    transform: scale(40);
}

.asteroid-info-card:hover{
    color: #ffffff;
}

#name-of-asteroid {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
}

#asteroid-name {
    color: #7952b3;
    font-size: 2.2rem;
    text-shadow: 2px 2px 0px black;
    transition: 0.3s ease-in-out;
}

#asteroid-name:hover{
    text-shadow: 2px 2px 0px #7952b3;
    color: #ffffff;
}
