.card {
    max-width: 500px;
    min-width: 300px;
    background: rgba(5, 17, 66, 0.55);
    /* background: linear-gradient(rgb(0, 0, 0), rgb(7, 33, 148)); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    color: rgba(255, 255, 255, 0.801);
}

.card h1 {
    font-size: 2rem;
    color: white;
}

.card h2 {
    font-size: 1.5rem;
    color: white;
}

.card h3 {
    font-size: 1rem;
}

.card:hover {
    box-shadow: 0 0 20px rgb(153, 0, 255);
}

.description {
    min-height: 200px;
    word-spacing: 2px;
}

.dates {
    display: flex;
    justify-content: space-evenly;
}

.title {
    color: rgb(155, 82, 252);
    /* border-bottom: 1px solid white; */
}