.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    background: linear-gradient(to left, rgb(10, 0, 73), rgb(0, 0, 0));
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    z-index: 100;
}

a {
    cursor: pointer;
}