#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}


/* section - 1 */
#section-1 {
    width: 90%;
    text-align: center
}

#section-1 p {
    margin-top: 5%;
    padding: 2%;
    font-size: 1.2rem;
}

#section-1 img {
    width: 500px;
}

/* section - 2 */
#section-2 {
    /* background: red; */
    width: 90%;
    text-align: center;
    margin: 10% 0;
}

#section-2>div {
    margin-top: 10%;
}

.rover-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
}

.rover {
    background: rgba(98, 0, 255, 0.507);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.rover-launch-info {
    border-top: 2px solid white;
    margin-top: 20px;
    padding-top: 20px;
    text-align: left;
}

.rover-card p {
    font-size: 1.5rem;
}


/* calender */
#section-3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#calender {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    gap: 2%;
}

#calender input {
    outline: none;
    border: 2px solid #9000ff;
    border-radius: 40px;
    background: transparent;
    color: white;
    width: 90%;
}

#calender input::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    cursor: pointer;
}

#calender input:focus {
    outline: none;
    border: 2px solid #9000ff;
    box-shadow: 0 0 15px white;
    color: white;
}

#calender button {
    outline: none;
    color: #8400ff;
    background: white;
    border-left: none;
    border-radius: 40px;
    border: none;
}

#calender button:hover {
    background: #8400ff;
    color: white;
    box-shadow: 0 0 15px white;
    cursor: pointer;
}

.section_title {
    background: -webkit-linear-gradient(#e4d6fb, #8400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: bold;
    border-top: 20dvh solid transparent;
    filter: drop-shadow(0 0 2px rgb(174, 0, 255));
}