#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

#container hr {
    width: 90%;
}

/* section - 1 */
#section-1 {
    width: 90%;
    text-align: center
}

#section-1 p {
    margin-top: 5%;
    padding: 2%;
    font-size: 1.2rem;
}

#section-1 img {
    width: 500px;
    animation: leviate 2s ease-in-out infinite;
}

#section-1 img:hover {
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(187, 9, 63);
}

@keyframes leviate {
    50% {
        transform: translateY(20px);
    }
}

@media (max-width:600px) {
    #container h1 {
        font-size: 2rem;
    }

    #section-1 img {
        width: 300px;
    }

    #section-1 p {
        font-size: 1rem;
    }

}

/* section - 2 */
#section-2 {
    text-align: center;
    margin: 10% 0;
}

#rover-wrapper {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.rover-card {
    background: rgba(38, 3, 94, 0.486);
    margin: 50px;
    padding: 50px;
    border-radius: 20px;
    width: 90%;
}

.rover-card h1 {
    filter: drop-shadow(0 0 10px rgb(195, 0, 255));
    margin-bottom: 5%;
}

.rover {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rover p {
    font-size: 1.5rem;
    width: 50%;
    background: rgba(98, 0, 255, 0.39);
    padding: 20px;
    border-radius: 40px 0px 40px 0px;
    transition: box-shadow 0.5s ease-in-out;
}

.rover a {
    color: rgb(192, 101, 245);
}

.rover p:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.582);
}

.rover-left {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rover-model {
    width: inherit;
    padding: 23px;
    background: rgb(201, 198, 198);
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rover-model:hover {
    box-shadow: 0 0 20px rgba(98, 0, 255, 0.39);
}

.rover-launch-info {
    background: rgba(98, 0, 255, 0.39);
    text-align: left;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    width: inherit;
}

@media (max-width:600px) {
    .rover-card {
        padding: 0;
        margin: 0;
        width: 400px;
        padding: 20px;
    }

    .rover {
        flex-direction: column;
        gap: 20px;
    }

    .rover p {
        font-size: 1rem;
        width: inherit;
        padding: 20px 10px;
    }

    .rover-left {
        width: 350px;
    }

    #rover-wrapper {
        gap: 50px;
    }


}

/* section - 3 */
#section-3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#section-3 h1 {
    margin-bottom: 5%;
}

#calender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    gap: 2%;
}

#calender input {
    outline: none;
    border: 2px solid #9000ff;
    border-radius: 40px;
    background: transparent;
    color: white;
    width: 90%;
}

#calender input::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    cursor: pointer;
}

#calender input:focus {
    outline: none;
    border: 2px solid #9000ff;
    box-shadow: 0 0 15px white;
    color: white;
}

#calender button {
    outline: none;
    color: #8400ff;
    background: white;
    border-left: none;
    border-radius: 40px;
    border: none;
}

#calender button:hover {
    background: #8400ff;
    color: white;
    box-shadow: 0 0 15px white;
    cursor: pointer;
}

@media (max-width:600px) {
    #calender {
        width: 70%;
    }
}

.section_title {
    background: -webkit-linear-gradient(#e4d6fb, #8400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: bold;
    border-top: 20dvh solid transparent;
    filter: drop-shadow(0 0 2px rgb(174, 0, 255));
}