.reveal {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease-out;
  }
  
  .reveal.reveal {
    opacity: 1;
    transform: translateY(0);
  }
  
  .reveal-top {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease-out;
  }
  
  .reveal-top.reveal-top {
    opacity: 1;
    transform: translateY(0);
  }