.mediaSubContainer {
  width: 45vw;
  margin: 20px;
}

#mediaContainer {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

@media (max-width: 1500px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #mediaContainer {
    flex-direction: column;
    width: 90vw;
  }

  .mediaSubContainer {
    width: 90vw;
  }
}
