@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");


.highlight {
  background: -webkit-linear-gradient(#e4d6fb, #8400ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_title {
  background: -webkit-linear-gradient(#e4d6fb, #8400ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: bold;
  border-top: 20dvh solid transparent;
}

.ip {
  display: flex;
  justify-content: center;
  align-self: center;
}

.input_container {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  outline:none;
  border: none;
}

.date_input {
  width: 20%;
  outline: none;
  border:none;
}

.apod_img_container {
  width: 500px;
  height: 500px;
}

.img {
  width: 500px;
  height: 400px;
}

.info {
  width: 500px;
  height: 100px;
}

#apod_img {
  border-radius: 25px;
}

.apod_img {
  position: relative;
  height: 80%;
}

#apod_img:hover {
  color: white;
  box-shadow: 0 5px 15px #9000ff;
}

.hero_img {
  border-radius: 50%;
}

.hero_img:hover {
  color: rgb(191, 0, 255);
  box-shadow: 0 5px 15px #9000ff;
}

.rover_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 0;
}

.rover_section_text {
  width: 50%;
}

.mars_illus {
  border-radius: 50%;
  margin-right: 30px;
}

.mars_illus:hover {
  color: rgb(191, 0, 255);
  box-shadow: 0 5px 15px #ff0099;
}

.rover_display {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;

}

.inner_container {
  height: 100%;
  width: 75%;
  border-radius: 10px;
  border: #e4d6fb;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image_div {
  width: 500px;
  height: 500px;
  margin-right: 50px;
}

.rover_popup_image_mobile {
  width: 500px;
  height: 500px;
  border-radius: 25px;
}

#roverImg:hover {
  color: rgb(191, 0, 255);
  box-shadow: 0 5px 15px #9000ff;
}

.info_div {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
}

.info_container {
  display: flex;
}

/* CONTACT US SECTION STYLING */

.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form .right {
  flex: 1;
  padding-left: 20px;
}

.right .form-control {
  width: 100%;
  max-width: 600px;
  /* Adjust the maximum width as needed */
}

.contact_img {
  border-radius: 50%;
}

.contact_img:hover {
  color: white;
  box-shadow: 0 5px 15px #9000ff;
}

/* floating animation for images */
.hero_img {
  animation: leviate 2s ease infinite;
}

.mars_illus {
  animation: leviate 2s ease infinite;
}


@keyframes leviate {
  50% {
    transform: translateY(-20px);
  }
}

/*update date input styles*/

.ip .form-control {
  outline: none;
  border: 2px solid #9000ff;
  border-right: none;
  border-radius:40px;
  background:transparent;
  color: white;
}

.ip .date_input::-webkit-calendar-picker-indicator { 
  filter: invert(100%);
  cursor: pointer;
}
.ip .form-control:focus{
  outline: none;
  border: 2px solid #9000ff;
  box-shadow: 0 0 15px white;
  color:white ;
}

.ip .btn{
  outline: none;
  border: 2px solid #9000ff;
  background-color: #8400ff;
  border-left: none;
  border-radius:40px;
}
.ip .btn:hover{
  background: #40019a;
  color: white;
  box-shadow: 0 0 15px white;
  cursor: pointer;
}


/* Additional styling for responsiveness */
@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;
  }

  .contact-form .right {
    padding-left: 0;
    margin-top: 10px;
    /* Adjust as needed */
  }
}

/* Info card in mars section */



.card {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 230px;
  height: 130px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
}

.info1 {
  margin-right: 30px;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #7952b3;
  height: 220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover::before {
  transition-delay: 0.2s;

  transform: scale(40);
}

.card:hover {
  color: #ffffff;
}

.card p {
  padding: 10px 0;
}

.img {
  display: flex;
  justify-content: center;
}

@media (max-width: 765px) {
  /*apod section optimized for mobile devices*/

  .section_title_mobile {
    font-size: 2rem;
  }

  .img {
    width: 100%;
  }

  .apod_img {
    height: 350px;
    width: 350px;
  }

  /*mars illus optimized for mobile devices*/

  .rover_section_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .mars_illus {
    width: 70%;
  }

  .rover_section_text {
    width: 100%;
  }

  .rover_section_para {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
  }

  .rover_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rover_display {
    display: none;
    /*change to implement this feature*/
  }

  .override-display {
    width: 90%;
  }

  /* optimized hero_img for mobile devices*/
  .hero_img {
    width: 70%;
  }

  /*contact section optimized for mobile*/
  .contact_img {
    width: 70%;
  }

  /*rover popup display for mobile*/
  .inner_conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30rem;
    width: 98%;
    border-radius: 10px;
    border: #e4d6fb;
    border-style: solid;
    border-width: 1px;
  }

  .rover_popup_image_mobile {
    height: 80%;
    width: 80%;
  }

  .image_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 80%;
  }

  .card {
    height: 5rem;
    width: 20rem;
  }

  .info_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-gen {
    width: 20%;
  }
}

.rover_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mars_illus {
  height: 80%;
}

/* sidebar for mobile devices*/

.sidebar-icon {
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 10;
}

.sidebar-list-item {
  list-style-type: none;
  padding-bottom: 8px;
  padding-top: 3px;
}

@media (min-width: 992px) {
  .sidebar-icon {
    display: none;
  }
  .sidebar-menu {
    display: none;
  }
}

.sidebar-contact {
   display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 25px;
}

.sidebar-menu {
  position: fixed;
  top: 80px;
  right: -200px;
  width: 210px;
  height: auto;
  transition: right 0.3s ease;
  z-index: 5;
  background-color: #06176250;
  padding-right: 21px;
  padding-top: 10px;
  border-radius: 20px;
}

.sidebar-menu.active {
  right: 10px;
}

/* Media queries for Brand name responsive*/
@media screen and (max-width : 515px) {
  .brandName{
    width: 70vw;
  }
}
.rem-default {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#close-btn{
  position: relative;
  bottom: 250px;
}
#close-btn button{
  padding: 5px 15px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  color: #40019a;
  border: none;
}

#close-btn button:hover{
  color: white;
  background: #40019a;
  box-shadow: 0 0 10px white;
}