@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to left, rgb(10, 0, 73), rgb(0, 0, 0));
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  font-family: "Space Grotesk", sans-serif;
}

.body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:hover {
  width: 9px;
  
}

::-webkit-scrollbar-track {
  background: #15013c;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(203, 131, 255), rgb(106, 0, 255));
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(191, 102, 255), rgb(137, 58, 249));
  border-radius: 7px;
}