@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to left, rgb(10, 0, 73), rgb(0, 0, 0));
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  font-family: "Space Grotesk", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #9333ea, #3EBCD8); 
  border-radius: 10px;
  border: 1px solid #121212; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #3EBCD8, #a855f7); 
}
