/* apod.module.css */

.section_title {
    background: -webkit-linear-gradient(#e4d6fb, #8400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: bold;
}

@media (max-width: 765px) {
    .section_title_mobile {
        font-size: 2rem;
    }

    .img {
        width: 100%;
    }

    .apod_img_container {
        width: 100%;
        height: auto;
    }

    .apod_img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .responsive_layout {
        flex-direction: column;
    }

    .col-lg-7, .apod_img_container {
        width: 100%;
    }

    .img {
        width: 100%;
    }

    .apod_img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}


.apod_img_container {
    width: 400px;
    height: auto;
}

#apod_img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    position: relative;
    object-fit: cover;
}

#apod_img:hover {
    color: white;
    box-shadow: 0 5px 15px #9000ff;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
}
